[Desktop Entry]
Type=Application
Name=MBook Electron
Comment=Launch the MBook Electron app
Exec=/mnt/Games/MBook/start_electron.sh
Path=/mnt/Games/MBook
Terminal=false
Categories=Utility;
